<div class="main-conteudo">
    <div class="first-line">
        <div class="titulo-modal">
            <img class="info" src="./assets/info (1).svg" alt="">
            <h2 class="informacoes">Informações Gerais</h2>
        </div>
        <div class="sair">
            <img (click)="closeModal()" class="x-sair" src="./assets/x-square (1).svg" alt="">
        </div>
    </div>
    <div class="nome-conteudo">
        <label for="nome-produto"><h3 class="h3_nome">Nome do Produto</h3></label>
        <input class="form-control" placeholder="Escreva detalhadamente o nome do produto" type="text" required/>
    </div>
    <div class="third-line">
        <div class="categoria-conteudo">
            <label for="categoria-produto"><h3 class="h3_categoria">Categoria do Produto</h3></label>
            <select class="select-categoria">
                <option value="">Selecione a categoria</option>
                <option value="1">Acessórios</option>
                <option value="2">Celulares</option>
                <option value="3">Componentes</option>
                <option value="4">Notebooks</option>
            </select>
        </div>
        <div class="valor-conteudo">
            <label for="valor-produto"><h3 class="h3_valor">Valor do Produto</h3></label>
            <input class="valor-input" placeholder=" Adicione o valor da venda" type="text" required/>
        </div>
    </div>
        <div class="imagem-conteudo">
            <label for="imagem-produto"><h3 class="h3_imagem">Imagens do Produto</h3></label>
            <input class="imagem-input" type="file" multiple>
        </div>
        <div class="descricao-conteudo">
            <label for="descricao-produto"><h3 class="h3_descrição">Descrição do Produto</h3></label>
            <input class="descricao-input" placeholder="Descreva detalhadamente o seu produto para um melhor anúncio" type="text" required/>
        </div>
        <div class="botao-conteudo">
            <button class="publicar" type="submit" role="button"><img class="logo" src="./assets/T 10 (4).svg"><h3 class="h3_publicar">Publicar</h3></button>
        </div>   
</div>