<nav>
    <a href="#" class="logo">
        <div>
            <img src="/assets/Group 50 (1).png" alt="">
        </div>
        <h2 class="acortt">Acortt</h2>
    </a>
    <div class="input">
        <input class="search" type="text" id ="search" placeholder="Pesquisar">
        <button class="botao_pesquisa"><a href="#"><img src="./assets/search.svg"></a></button>
        
    </div>
    <div class="link">
        <button class="criar_conta"><a href="/src/app/register/register.component.html">Criar conta</a></button>
        <button class="entrar"><a href="/src/app/login/login.component.html">Entrar</a></button>
    </div>

</nav> 