<nav>
    <div class="logo">
        <img src="/assets/Group 50 (1).png" alt="">
        <h2 class="acortt">Acortt</h2>
    </div>
    <div class="input">
        <input class="search" type="text" id ="search" placeholder="Pesquisar">
        <button class="botao_pesquisa"><img src="./assets/search.svg"></button>
        
    </div>
    <div class="link">
        <button class="criar_conta"><img class="icone" src="./assets/log-in-verde.svg" alt=""><a href>Criar conta</a></button>
        <button class="entrar"><img class="icone" src="./assets/log-in-preto.svg" alt=""><a href>Entrar</a></button>
    </div>



</nav>