<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <img src="/assets/Group 50 (1).png" alt="">
    <a class="navbar-brand" href="home">Acortt</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit"><img src="./assets/search.svg"></button>
      </form>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item-criar">
          <button class="button_criar"><a class="nav-link active" aria-current="page" href="register">Criar conta</a></button>
        </li>
        <li class="nav-item">
          <button class="button_entrar"><a class="nav-link" href="login">Entrar</a></button>
        </li>
      </ul>
    </div>
  </div>
</nav>

