a{
    text-decoration: none;
    color: rgba(0, 197, 21, 1);
}


.form-control {
    display: flex;
    width: 280px;
    padding: 12px 10px;
    border-radius: 8px;
    background-color: rgba(136, 134, 133, 1);
    color: rgba(30, 30, 30, 1);
}

.form-control:focus{
    outline: none;
    border: 1px solid rgba(0, 197, 21, 1);
}

.content{
    display: flex;
    background-color: rgba(30, 30, 30, 1);
    width: 100vw;
    height: 100vh;
}

.image{
    height: 100vh;
    width: 60%;
    background-size: cover;
    object-fit: cover;
}
    

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
}

form{
    display: flex;
    flex-direction: column;
    width: 300px;
}

.title{
    font-size: 1.5rem;
}

.welcome{
    font-family: Roboto Slab, sans-serif;
    font-weight: 500;
    color: rgba(0, 197, 21, 1);
}

h1,h4{
    margin-top: 0;
}


h4{
    font-family: Montserrat;
    font-weight: 400;
    color: rgba(136, 134, 133, 1);
}

.input, .title{
    margin-bottom: 50px;
}

.input{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.input label{
    font-size: 1rem;
    color:rgba(136, 134, 133, 1);
    font-family: Montserrat, sans-serif;
    font-weight: 500;
}

button{
    width: 300px;
    padding: 8px;
    border-radius: 8px;
    margin: 20px 0;
    background-color: rgba(55, 55, 55, 1);
    color: rgba(0, 197, 21, 1);
    font-size: 1.3rem;
    font-weight: 900;
    font-family: Roboto Slab;
}

button:hover{
    outline:none;
    border: 2px solid rgba(0, 197, 21, 1);
}



.input a{
    font-size: 0.8rem;
    color:rgba(0, 197, 21, 1);
    font-family: Montserrat, sans-serif;
    text-align: right;

}


.aviso p{
    flex-direction: column;
    color: rgba(136, 134, 133, 1);
    font-family: Montserrat, sans-serif;
    font-size: 0.7rem;
}

.aviso a{
    color: rgba(0, 197, 21, 1);
    font-family: Montserrat;
    font-size: 0.9rem;
    font-weight: 700;
}

@media only screen and (max-width: 1060px){
    .image{
        display: none;
    }

    .login{
        width: 100%;
        height: 100vh;
    }
}