<div class="content">

    <img class="image" src="../../assets/acortt.png" alt="logo Acortt">
    <div class="login">

        <div class="title">
            <h1 class="welcome">Bem vindo</h1>
            <h4>Entre com sua conta</h4>
        </div>

        <form>
            <div class="custom-input-wrapper"> 
                <input class="custom-text" type='email' id='email' required /> 
                <label for='email' class='custom-placeholder'>Email</label> 
            </div>
            <div class="custom-input-wrapper"> 
                <input class="custom-password" type='password' id='senha' required /> 
                <label for='senha' class='custom-placeholder'>Senha</label> 
            </div>
            <div class="forgot">
                <a href="#">Esqueceu a senha?</a>
            </div>
            <button type="submit" class="custom-submit custom-raise custom-buttons">Entrar</button>
            <div class="account">
                <p class="accountTxt">Não tem uma conta?</p>
                <a href="register">Criar conta</a>
            </div>
        </form>

        <!-- <div class="warning">
                <p>Explore trocas e conexões!</p>
                <p>Crie a sua conta conosco!</p>
                <a href=register>Criar conta</a>
            </div> -->

    </div>
</div>