    <div class="carousel">
        <div *ngFor="let e of computersList">
            <span>nome</span>
            {{ e.prod_nome}}
        </div>
        
        
        <h2 class="h2_conteudo">Produtos mais procurados</h2>
        <ngx-slick-carousel class="carousel-items" [config]="slickCarouselConfig">
            <div  ngxSlickItem class="card" *ngFor="let produto of produtos">
                <img class="img-banner" src="{{produto.urlImage}}" alt="">
                <div class="conteudo_card_notebook">
                    <h3 class="nome-produto">{{produto.titulo}}</h3>
                    <h2 class="valor-produto">{{produto.subtitulo}}</h2>
                    <span class="data">{{produto.data}}</span>
                </div>   
            </div>
        </ngx-slick-carousel>
    </div>

