    <div class="carousel">
        
        <h2 class="h2_conteudo">Mais procurados em Eletrônicos e Celulares</h2>
        <ngx-slick-carousel class="carousel-items" [config]="slickCarouselConfig">
           <div ngxSlickItem class="card" *ngFor="let produto of lista">
            <img class="img-smartphone" src="{{produto.urlImage}}" alt="image"> 
                <div class="conteudo_card">
                    <h3 class="nome-produto">{{produto.titulo}}</h3>
                    <h2 class="valor-produto">{{produto.subtitulo}}</h2>
                    <span class="local">{{produto.local}}</span>
                    <span class="data">{{produto.data}}</span>
                </div>
            </div>
            <div ngxSlickItem class="card" *ngFor="let produto of lista">
                <img class="img-smartphone" src="{{produto.urlImage}}" alt="image"> 
                <div class="conteudo_card">
                    <h3 class="nome-produto">{{produto.titulo}}</h3>
                    <h2 class="valor-produto">{{produto.subtitulo}}</h2>
                    <span class="local">{{produto.local}}</span>
                    <span class="data">{{produto.data}}</span>
                </div>
            </div>
        </ngx-slick-carousel>

        <h2 class="h2_conteudo">Mais procurados em Notebooks</h2>
        <ngx-slick-carousel class="carousel-items" [config]="slickCarouselConfig">
            <div  ngxSlickItem class="card" *ngFor="let produto of produtos">
                <img class="img-banner" src="{{produto.urlImage}}" alt="hghg">
                <div class="conteudo_card_notebook">
                    <h3 class="nome-produto">{{produto.titulo}}</h3>
                    <h2 class="valor-produto">{{produto.subtitulo}}</h2>
                    <span class="local">{{produto.local}}</span>
                    <span class="data">{{produto.data}}</span>
                </div>   
            </div>
            <div  ngxSlickItem class="card" *ngFor="let produto of produtos">
                <img class="img-banner" src="{{produto.urlImage}}" alt="hghg">
                <div class="conteudo_card_notebook">
                    <h3 class="nome-produto">{{produto.titulo}}</h3>
                    <h2 class="valor-produto">{{produto.subtitulo}}</h2>
                    <span class="local">{{produto.local}}</span>
                    <span class="data">{{produto.data}}</span>
                </div> 
            </div>
        </ngx-slick-carousel>
    </div>

