nav{
    background: #1E1E1E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    padding: 40px 0;   
}



h2{
    color: white;
}

.botao_pesquisa{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 33px;
    border-radius: 5px;
    background-color: #00C515;
    border: none;
    font-size: 14px;
    font-family: "Michroma", sans-serif;
}

.logo{
    display: flex;
    justify-content: center;
    margin: 0 10px 0 0;
    padding-left: 10%;
    gap:20px;
}

.acortt{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

a:hover{
    color:#1e1e1e;
}

.logo{
    display: flex;
    justify-content: center;
    margin-left: 10%;
    gap:20px;
}

.content-direito{
    display: flex;
    margin-right: 10%;
    justify-content: center;
    align-items: center;
}


.user{
    padding-right: 50px;
}



.sair{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
    
}   

.home{
    display: flex;
    justify-content: center;
    align-items: center;
}   

.name{
   display: flex;
   justify-content: center;
   align-items: center;
   
}

.user{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icone{
    display: flex;
    justify-content: center;
    padding-right: 10px;
    align-items: center; 
}