nav{
    background: #333333!important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 10px 0;
}

.navbar-brand{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    margin-right: 49%;
}

.nav-link.active, .nav-link{
    text-decoration: none;
    color: white;
    font-weight: 500;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

.nav-link.active:hover{
    color:#209e26;
}

.nav-link:hover{
    color:#209e26;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10px;
}


.nav-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
}   

.nav-home{
   display: flex;
   justify-content: center;
   align-items: center;
   padding-right: 50px;
   
}

.nav-sair{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icone{
    display: flex;
    justify-content: center;
    padding-right: 10px;
    align-items: center; 
}