<nav>
    <div class="logo">
        <img src="/assets/Group 50 (1).png" alt="" href="home">
        <h2 class="acortt">Acortt</h2>
    </div>
    <div class="content-direito">
        <div class="user">
            <img class="icone" src="./assets/logouser.svg" alt=""><a class="name" href="profile">Jeferson Jesus</a>
        </div>    
        <div class="home">
            <img class="icone" src="./assets/homenav.svg" alt=""><a href="home">Home</a>
        </div>
        <div class="sair">
            <img class="icone" src="./assets/log-out.svg" alt=""><a href="login">Sair</a>
        </div>
    </div>
</nav>

