<nav>
    <div class="content-logo">
        <div class="logo">
            <img src="/assets/Group 50 (1).png" alt="" href="home">
            <h2 class="acortt">Acortt</h2>
        </div>
    </div>
    
    <div class="content">
        <div class="content-usuario">
            <div class="content-user">
                <img class="icone" src="./assets/logouser.svg" alt="">
                <a class="name" href="profile">Jeferson Jesus</a>
            </div>
        </div>    
    </div>  
    <div class="">    
        <div class="content-home">    
            <div class="home">
                <img class="icone" src="./assets/homenav.svg" alt="">
                <a class="home_link" href="home">Home</a>
            </div>
        </div>
    </div>
    <div>    
        <div class="content-sair">
            <div class="sair">
                <img class="icone" src="./assets/log-out.svg" alt="">
                <a class="sair_link" href="sair">Sair</a>
            </div>
        </div>
    </div>
</nav>