.body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background: #1E1E1E;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

a:hover {
    color: #00C515;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link_links {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #333333;
    font-size: 14px;
    font-family: "Michroma", sans-serif;
    padding-left: 20px; 
    height: 55px;
    margin-top: 8px;
    padding: 0 10%;  
    box-shadow: #161616 0 0 4px 3px;
}

.icons-menu {   
    padding: 10px;
}

.h2_conteudo {
    display: flex;
    align-items: center;
    color: white;
    margin-left: 10%;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    padding: 3% 0 3% 1%;
}

.estrutura-card,
.estrutura-card-notebook {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card,
.card-notebook {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, 0.4117647059);
    border-radius: 5px;
    height: 300px;
    margin: 20px 10px;
    width: 200px !important;
    padding: 15px;
    background: #161616;
}

.img-smartphone,
.img-banner {
    width: 100%;
    height: 110px;
    object-fit: contain;
    border-radius: 12px;
}

.conteudo_card,
.conteudo_card_notebook {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px; 
    color: white; 
}

.subtitulo {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.titulo {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.local {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.data {
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    font-weight: 400;
}

footer{
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    background-color: #00C515;
    width: 100%;
    height: 50px;
    padding: 20px 0 20px 0;  
}


@media screen and (min-width: 768px) {
    .banner {
        align-items: center;
    }
}
