.body {
    font-family: Arial, sans-serif;
    // display: flex;
    // flex-direction: column;
    background: #1E1E1E;
    gap: 20px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

a:hover {
    color: #00C515;
}

.h2_conteudo {
    display: flex;
    align-items: center;
    color: white;
    margin-left: 2rem;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 200;
}


.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link_links{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #333333;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    padding-left:20px; 
    height: 55px;
    padding: 0 10%;
    box-shadow: #161616 0 0 4px 3px;
    transition: font-size 0.3s ease-in-out;
}
.nav-list{
    text-decoration: none;
    color:white;
    font-weight: 500;
}

.nav-list:hover {
    color: #00C515;
    transition: ease 1s;
}

.nav-list {
    font-size: 15px;
    transition: font-size 0.3s ease-in-out; 
}

.nav-list:hover {
    font-size: 16px; 
}


.icons-menu {   
    padding: 10px;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    justify-items: center;
    margin: 1rem 1rem 1rem 1rem;
}

.product-card {
    width: 220px; /* Define uma largura fixa para os cards */;
    height: 325px;
    background: #161616;
    border-radius: 5px;
    box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, 0.4117647059);
    padding: 15px;
    transition: 0.3s;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
}

.product-tumb {
    background: #161616;
    border-radius: 12px;
    overflow: hidden; /* Garante que a imagem não saia do container */
}

.product-tumb img {
    object-fit: cover; /* Mantém a proporção da imagem dentro do container */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    border-radius: 12px; 
}

.product-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
}

.product-catagory {
    margin-top: 10px;
    margin-bottom: 2px;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
}

.product-details h4 a {
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 20px;     /* fallback */
    max-height: 40px;      /* fallback */
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.product-details h4 a:hover {
    color: #00C515;
}

.product-details p {
    font-size: 14.5px;
    line-height: 11px;
    color: #999;
}

.product-bottom-details {
    border-top: 1px solid #eee;
    padding-top: 5px;
}

.product-price {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

// @media screen and (max-width: 1200px) {
//     .product-container {
//         grid-template-columns: repeat(3, 1fr);
//     }
// }

// @media screen and (max-width: 768px) {
//     .product-container {
//         grid-template-columns: repeat(2, 1fr);
//     }
// }

// @media screen and (max-width: 480px) {
//     .product-container {
//         grid-template-columns: 1fr;
//     }
// }


footer{
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    background-color: #00C515;
    width: 100%;
    height: 5px;
    padding: 20px 0 20px 0;
    margin-top:20px;
  }
  
  a.support{
    margin-left:10px ;
    font-weight: 600;
    color: black;
    text-decoration: none;
  }

@media screen and (min-width: 768px) {
    .banner {
        align-items: center;
    }
}

@media screen and (max-width: 710px){
    .icons-menu{
        display: none;
    }
}




