<app-navbar></app-navbar>
<div class="menu">
        <ul class="link_links" id="wrapper">
            <li><a class="nav-list" href="#">Notebook</a></li>
            <li><a class="nav-list" href="#">Celulares</a></li>
            <li><a class="nav-list" href="#">Componentes</a></li>
            <li><a class="nav-list" href="#">Acessórios</a></li> 
        </ul>
    </div>
<div class="body">
<main>
  <div class="container">
    <div class="grid product">
      <div class="column1 column-md-7">
        <div class="product-gallery">
          <div class="product-image">
            <img class="active" src="https://source.unsplash.com/W1yjvf5idqA">
          </div>
          <ul class="image-list">
            <li class="image-item"><img src="https://source.unsplash.com/W1yjvf5idqA"></li>
            <li class="image-item"><img src="https://source.unsplash.com/VgbUxvW3gS4"></li>
            <li class="image-item"><img src="https://source.unsplash.com/5WbYFH0kf_8"></li>
          </ul>
        </div>
      </div>
      <div class="column-xs-12 column-md-5">
        <h1>Samsung Notebook Galaxy Book3 360</h1>
        <h2>R$6319.99</h2>
        <div class="description">
          <p>Marca - Samsung</p>
          <p>Tamanho da Tela - 15,6 Polegadas</p>
          <p>Tamanho Disco Rígido - 1 TB</p>
          <p>Modelo da CPU - Intel Core i7</p>
          <p>Memória Ram - 16GB</p>
        </div>
        <div class="description">
          <p>Notebook usado à venda. Oferece desempenho confiável para suas tarefas diárias, com um processador potente e tela de tamanho generoso.</p>
          <p>Ampla capacidade de armazenamento para todos os seus arquivos e conectividade fácil com diversas portas. Em ótimo estado, pronto para ser seu parceiro tecnológico</p>
        </div>
        <button class="exchangeBtn">Trocar</button>
      </div>
    </div>
  </div>
</main>
</div>