<app-navbar></app-navbar>

<nav class="flex-nav">
  <div class="container">
    <div class="column-xs-8 column-md-6">
    </div>
  </div>
</nav>

<div class="body">
<div class="menu">
  <ul class="link_links">
    <li><img class="icons-menu" src="./assets/monitor (3).svg" alt=""><a class="nav-list" href="#">Notebooks</a></li>
    <li><img class="icons-menu" src="./assets/smartphone.svg" alt=""><a class="nav-list" href="#">Celulares</a></li>
    <li><img class="icons-menu" src="./assets/cpu.svg" alt=""><a class="nav-list" href="#">Componentes</a></li>
    <li><img class="icons-menu" src="./assets/headphones.svg" alt=""><a class="nav-list" href="#">Acessórios</a></li>
  </ul>
</div>

  <main class="principal">
    <div class="container">
      <div class="grid product">
        <div class="column-xs-12 column-md-7">
          <div class="product-gallery">
            <div class="product-image">
              <img #activeImage class="active" src="https://unsplash.com/pt-br/fotografias/portatil-na-mesa-de-madeira-marrom-yNvVnPcurD8">
            </div>
            <ul class="image-list">
              <li class="image-item"><img #productImages src=""></li>
              <li class="image-item"><img #productImages src=""></li>
              <li class="image-item"><img #productImages src=""></li>
            </ul>
          </div>
        </div>
        <div class="column-xs-12 column-md-5">
          <div class="product-details">
            <h3>Samsung Notebook Galaxy Book A360</h3>
            <h2>R$6319.99</h2>

            <div class="profile">
              <h5>By</h5>
              <div class="user">
                <div class="li" style="--clr:white">
                  <a href="#" data-text="&nbsp;Jeferson&nbsp;">&nbsp;Jeferson&nbsp;</a>
                </div>
              </div>
            </div>

            <div class="specifications">
              <div class="spec-item">
                <p class="spec-title">Marca</p>
                <p class="atribute">Samsung</p>
              </div>
            </div>
              
              <!-- <div class="spec-item">
                <p class="spec-title">Tamanho Tela</p>
                <p class="atribute">15,6</p>
              </div>
              <div class="spec-item">
                <p class="spec-title">Disco Rígido</p>
                <p class="atribute">1 Tb</p>
              </div>
              <div class="spec-item">
                <p class="spec-title">Memória Ram</p>
                <p class="atribute">16 Gb</p>
              </div>
              <div class="spec-item">
                <p class="spec-title">Modelo CPU</p>
                <p class="atribute">Core i7</p>
              </div> -->

              <div class="description">
              <p class="descriptionText">
                Um laptop versátil e poderoso, perfeito para produtividade e entretenimento. Equipado com processador Intel de última
                geração, tela Full HD de 15,6 polegadas, e design elegante e leve.
              </p>
              <p class="descriptionText">
                Este Samsung Book A360 oferece desempenho excepcional e
                portabilidade. Ideal para estudantes, profissionais e usuários em geral que buscam eficiência e estilo em um único
                dispositivo.
              </p>
            </div>

            <a target="_blank" href="https://wa.me/5514999078712">
              <button class="exchangeBtn">
                <div class="fallback">Trocar</div>
                <div class="letters" aria-hidden="true">
                  <span>T</span>
                  <span>R</span>
                  <span>O</span>
                  <span>C</span>
                  <span>A</span>
                  <span>R</span>
                </div>
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>