<app-navbar></app-navbar>

<nav class="flex-nav">
  <div class="container">
    <div class="column-xs-8 column-md-6">
      <!-- Conteúdo adicional do nav, se necessário -->
    </div>
  </div>
</nav>

<div class="body">
  <div class="menu">
    <ul class="link_links" id="wrapper">
      <li><a class="nav-list" href="#">Notebook</a></li>
      <li><a class="nav-list" href="#">Celulares</a></li>
      <li><a class="nav-list" href="#">Componentes</a></li>
      <li><a class="nav-list" href="#">Acessórios</a></li>
    </ul>
  </div>

  <main class="principal">
    <div class="container">
      <div class="grid product">
        <div class="column-xs-12 column-md-7">
          <div class="product-gallery">
            <div class="product-image">
              <img #activeImage class="active" src="https://source.unsplash.com/yNvVnPcurD8">
            </div>
            <ul class="image-list">
              <li class="image-item"><img #productImages src="https://source.unsplash.com/pduutGbL2-M"></li>
              <li class="image-item"><img #productImages src="https://source.unsplash.com/ocAuPlfZXEc"></li>
              <li class="image-item"><img #productImages src="https://source.unsplash.com/TxXuh_hAFd8"></li>
            </ul>
          </div>
        </div>
        <div class="column-xs-12 column-md-5">
          <div class="product-details">
            <h3>Samsung Notebook Galaxy Book3 360</h3>
            <h2>R$6319.99</h2>

            <div class="profile">
              <h5>By</h5>
              <div class="user">
                <div class="li" style="--clr:white">
                  <a href="#" data-text="&nbsp;Jefferson&nbsp;">&nbsp;Jefferson&nbsp;</a>
                </div>
              </div>
            </div>

            <div class="specifications">
              <div class="spec-item">
                <p class="spec-title">Marca</p>
                <p class="atribute">Samsung</p>
              </div>
              <div class="spec-item">
                <p class="spec-title">Tamanho Tela</p>
                <p class="atribute">15,6</p>
              </div>
              <div class="spec-item">
                <p class="spec-title">Disco Rígido</p>
                <p class="atribute">1 Tb</p>
              </div>
              <div class="spec-item">
                <p class="spec-title">Memória Ram</p>
                <p class="atribute">16 Gb</p>
              </div>
              <div class="spec-item">
                <p class="spec-title">Modelo CPU</p>
                <p class="atribute">Core i7</p>
              </div>
            </div>

            <div class="description">
              <p class="descriptionText">Notebook usado à venda. Tem um desempenho confiável para suas tarefas diárias,
                com um processador
                potente e uma tela generosa.</p>
            </div>

            <button class="exchangeBtn">
              <div class="fallback">Trocar</div>
              <div class="letters" aria-hidden="true">
                <span>T</span>
                <span>R</span>
                <span>O</span>
                <span>C</span>
                <span>A</span>
                <span>R</span>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>