<app-navbarlog></app-navbarlog>
<div class="body">
    <div class="menu">
        <ul class="link_links">
            <li><a class="nav-list" href="#">Notebooks</a></li>
            <li><a class="nav-list" href="#">Celulares</a></li>
            <li><a class="nav-list" href="#">Componentes</a></li>
            <li><a class="nav-list" href="#">Acessórios</a></li> 
        </ul>
    </div>
    <div class="main_content">
        <div class="profile_section">
            <div class="card_profile">
                <div class="photo_user">     
                    <img class="user" src="./assets/profile.svg" alt="">
                </div>
                <div class="conteudo_profile">
                    <div class="editar">
                        <img class="edit" src="./assets/edit.svg" alt="">
                        <a class="editar_perfil" href="#">Editar perfil</a>
                    </div>
                    <div class="nome_user">
                        <h2 class="name">Jeferson Jesus</h2>  
                    </div>
                    <div class="contato_user">
                        <h3 class="contato">Contato</h3><img class ="phone" src="./assets/phone.svg">
                    </div>
                    <div class="faculdade_user">
                        <h4 class="faculdade">Fatec Shunji Nishimura de Pompeia - SP</h4>
                    </div>
                </div>  
            </div>
            <div class="anunciar">
                <button class="publicar"><a class="button" href="telamodal">Anunciar +</a></button>
            </div>
        </div>
        <div class="content-anuncio">
            <h2 class="anuncios">Anúncios</h2>
            <div class="estrutura-card">
                <div class="card_anuncio" *ngFor="let produto of anuncio">
                    <img class="img-smartphone" src="{{produto.urlImage}}" alt="image"> 
                    <div class="conteudo_card">
                        <h2 class="titulo">{{produto.titulo}}</h2>
                        <h3 class="subtitulo">{{produto.subtitulo}}</h3>
                        <span class="local">{{produto.local}}</span>
                        <span class="data">{{produto.data}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>@ Acortt Association Ltda. -  Av Shunji Nishimura, 825-601, - Pompeia, SP</footer>
</div>