<app-navbarlog></app-navbarlog>
<div class="body">
   
    <div class="menu">
        <ul class="link_links">
            <li><a class="nav-list" href="#">Notebook</a></li>
            <li><a class="nav-list" href="#">Celulares</a></li>
            <li><a class="nav-list" href="#">Componentes</a></li>
            <li><a class="nav-list" href="#">Acessórios</a></li> 
        </ul>
    </div>

    <div class="card_profile">
        <div class="photo_user">     
            <img class="user" src="./assets/profile.svg" alt="">
        </div>
        <div class="editar">
            <img class="edit" src="./assets/edit.svg" alt="">
            <a class="card" href="#">Editar perfil</a>
        </div>
        <div class="nome">
            <h2 class="name">Jeferson Jesus</h2>  
        </div>
        <div class="data_user">
          <h3 class="contato">Contato</h3><img class="phone" src="./assets/phone.svg">
          <h4 class="faculdade">Fatec Shunji Nishimura de Pompeia - SP</h4>
        </div>
    </div>

    <div class="recado">
        <h2 class="perfil">Seu perfil</h2>
        <h3 class="aviso">As preferências do seu perfil nos ajudam a personalizar as recomendações para você</h3>
    </div>

    <div class="anunciar">
        <button class="publicar">Anunciar +</button>
    </div>

    <h2 class="h2_anuncio">Anúncios</h2>
    <div class="anuncios">
            <div class="conteudo_card">
                <h2>R$ 500,00</h2>
                <h3>Galaxy J20</h3>
                <span>Fatec Shunji Nishimura</span><br>
                <span>10/05/2024 - 13:33h</span>
            </div>
    </div>
</div>