.body{
    display: flex;
    flex-direction: column;
    background: #1E1E1E;
}

.nav-list{
    color: black;
    background: #00C515;
}

a{
    text-decoration: none;
    color:#00C515;
    font-weight: 500;
    align-items: center;
}

.button{
    color:#F1F1F1;
    text-decoration: none;
    font-weight: 800;
    align-items: center;
    font-family: "Montserrat", sans-serif;
}

button:hover{
    a{
        color:#1ec22e;
    }
}

a:hover{
    color: #F1F1F1;
}

.link_links{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 0 80px;
    background-color: #00C515;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    padding-left:20px; 
    height: 55px;
    padding: 0 10%;
    
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    color:#00C515;
    font-weight: 500;
    font-size: small;
}

h2, h3, h4{
    color: #F1F1F1;
}

span{
    color: #F1F1F1;
}

.main_content{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
}

.profile_section{
    flex-direction: column;
}


.card_profile{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 4px 3px #2b8333;
    border-radius: 5px;
    width: 800px;
    height: 500px;
    padding: 15px;
    background: #161616;
}

.editar_perfil{
    font-size: 12px;
}

.editar{
    float: right;
    margin-top: -130px;
    margin-right: -30px;
}

.conteudo_profile{
    padding: 20px 0px 20px 50px;
}

.anunciar{
    display: flex;
    align-items: center;
    float: right;
    margin-top: -30px;
}



.edit, .editar_perfil{
    padding-right: 5px;
}

.nome_user, .contato_user, .email_user, .faculdade_user{
    padding-bottom: 20px;
}

.contato_user h3, .contato_user img{
    padding-right: 10px;
}

.content-anuncio{
    padding-bottom: 10%;
    padding-left: 10%;
}

.anuncios{
    margin-left: 5%;
}

.card_anuncio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 3px 4px 1px #00000069;
    border-radius: 5px;
    width: 200px;
    height: 300px;
    padding: 15px;
    background: #161616;
}

.img-smartphone {
    width: 194px;
    height: 130px;
    object-fit: contain;
    border-radius: 6px;
}

.conteudo_card{
    display: flex;
    flex-direction:column;
    align-items: start;
    justify-content: center;
    gap: 15px;  
}

.data{
    font-size: 10px;
}

.estrutura-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 15%;
    margin-left: 3%;
}


.contato, .phone{
    display: inline;
}

.local{
    font-size: 12px;
}

footer{
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    background-color: #00C515;
    width: 100%;
    height: 40px;
    padding:15px 0 15px 0;
    
}

@media screen and (max-width: 1500px) {
    .main_content{
        flex-wrap: wrap;
    }
}

/* CSS */
.publicar {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .publicar:before {
    content: "";
    background: linear-gradient(
      45deg,
      #e5ff00,
      #b3ff00,
      #9dff00,
      #48ff00,
      #06ff27,
      #1eff00,
      #00ff37,
      #00ff88,
      #a6ff00
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-publicar 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-publicar {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .publicar:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
  }