.body{
    display: flex;
    flex-direction: column;
    background: #1E1E1E;
}

a{
    text-decoration: none;
    color:white;
    font-weight: 500;
}

a:hover{
    color: #00C515;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

   
.link_links{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #333333;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    height: 55px;
    padding: 0 10%;
    box-shadow: #161616 0 0 4px 3px;
}

.icons-menu{
    padding: 10px;
    
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:60px;
    
}

.img_banner{
    min-width: 800px;
    width: 80%;
    
}

.anuncios{
    display: flex;
    justify-content: space-around;
    margin: 20px; 
}

footer{
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    background-color: #00C515;
    width: 100%;
    height: 50px; 
    margin-top: 5%;
}

@media only screen and (max-width: 650px) {
    .icons-menu{
        display: none;
        
    }
    .link_links{
        gap: 20px;
    }
}