<div class="body">
    <nav>
        <div class="logo">
            <img src="/assets/Group 50 (1).png" alt="">
            <h2 class="acortt">Acortt</h2>
        </div>
        <div class="input">
            <input class="search" type="text" id ="search" placeholder="Pesquisar">
            <button class="botao_pesquisa"><img src="./assets/search.svg"></button> 
        </div>
        <div class="link">
            <button class="criar_conta"><img class="icone" src="./assets/log-in-verde.svg" alt=""><a href>Criar conta</a></button>
            <button class="entrar"><img class="icone" src="./assets/log-in-preto.svg" alt=""><a href>Entrar</a></button>
        </div>
    
    </nav>
    <div class="menu">
        <ul class="link_links">
            <li><a class="nav-list" href="#">Notebook</a></li>
            <li><a class="nav-list" href="#">Celulares</a></li>
            <li><a class="nav-list" href="#">Componentes</a></li>
            <li><a class="nav-list" href="#">Acessórios</a></li> 
        </ul>
    </div>


    <div class="banner">
        <img class="img_banner" src="/assets/Banner.png" alt="">
    </div>
    <h2 class="h2_conteudo">Mais procurados em Eletrônicos e Celulares</h2>
    <div class="card">
        <div class="conteudo_card">
            <h2>10.000,00</h2>
            <h3>Iphone X</h3>
            <span>Faculdade</span><br>
            <span>data e hora</span>
        </div>
    </div>

    <h2 class="h2_conteudo">Mais procurados em Notebooks</h2>
    
    <footer>@ Acortt Association Ltda. -  Av Shunji Nishimura, 825-601, - Pompéia, SP</footer>
</div>

