 <app-navbar></app-navbar>

<div class="body">
    <div class="menu">
        <ul class="link_links">
            <li><a class="nav-list" href="#">Notebooks</a></li>
            <li><a class="nav-list" href="#">Celulares</a></li>
            <li><a class="nav-list" href="#">Componentes</a></li>
            <li><a class="nav-list" href="#">Acessórios</a></li> 
        </ul>
    </div>

    <app-slider style="display: flex; justify-content: center;"></app-slider>
    
    <app-cardslider></app-cardslider>
    

    <footer>@ Acortt Association Ltda. -  Av Shunji Nishimura, 825-601, - Pompeia, SP</footer>
</div>

