<div class="structure">
    <h1>Crie sua conta conosco</h1>
    <div class="container">
        <div class="buttonsForm">
            <div #btnColor class="btnColor"></div>
            <button id="btnSignin" (click)="toSignUp()">Informações</button>
            <button id="btnSignup" (click)="toSignIn()">Finalizar</button>
        </div>

        <form #Cadastrar id="Cadastrar" [formGroup]="formRegister" (ngSubmit)="onRegisterPt1()">
            <div class="input-wrapper">
                <input class="text campoCadastro" type='text' id='nome' required formControlName="name" />
                <label for='nome' class='placeholder'>Nome</label>
            </div>
            <div class="input-wrapper">
                <input class="text campoCadastro" type='email' id='email' required formControlName="email" />
                <label for='email' class='placeholder'>Email</label>
            </div>
            <div class="input-wrapper">
                <input class="password campoCadastro" type='password' id='senha' required formControlName="password" />
                <label for='senha' class='placeholder'>Senha</label>
            </div>
            <div class="input-wrapper">
                <input class="password campoCadastro" type='password' id='confirmarSenha' required formControlName="confirmPassword" />
                <label for='confirmarSenha' class='placeholder'>Confirmar Senha</label>
            </div>

            <div class="divCheck">
                <input type="checkbox" id="lembrarSenha"/>
                <label for="lembrarSenha">Lembrar Senha</label>
            </div>
            <button type="submit" class="submit raise buttons">Continuar</button>
        </form>

        <form #Logar id="Logar">
            <div class="input-wrapper">
                <input class="text campoCadastro" type='text' id='telefone' required>
                <label for='telefone' class='placeholder'>Telefone</label>
            </div>
                <select name="Faculdade" class="select campoCadastro">
                    <option value="">Instituição de ensino</option>
                    <option value="1">Fatec Shunji Nishimura</option>
                    
                </select>
           

            <div class="divCheck">
                <input type="checkbox" id="termosCondicoes" required />
                <label for="termosCondicoes">Termos e condições</label>
            </div>
            <button class="submit raise buttons">Criar conta</button>
        </form>
    </div>
    <a href="login">
        <h6>Já tenho conta</h6>
    </a>
</div>
