<div class="structure">
    <h1>Crie sua conta conosco</h1>
    <div class="container">
        <div class="buttonsForm">
            <div #btnColor class="btnColor"></div>
            <button id="btnSignin" (click)="toSignUp()">Informações</button>
            <button id="btnSignup" (click)="toSignIn()">Finalizar</button>
        </div>
    
        <form #Cadastrar id="Cadastrar" [formGroup]="formRegister" (ngSubmit)="onRegisterPt1()">
            <input class="text campoCadastro" placeholder="Nome" formControlName="name" required/>
            <input class="text campoCadastro" placeholder="Email" formControlName="email" />
            <input class="password campoCadastro" placeholder="Senha" formControlName="password" />
            <input class="password campoCadastro" placeholder="Confirmar Senha" formControlName="confirmPassword" />
    
            <div class="divCheck">
                <input type="checkbox" />
                <span>Lembrar Senha</span>
            </div>
            <button type="submit" class="submit raise buttons">Continuar</button>
        </form>
    
        <form #Logar id="Logar">
            <input class="text campoCadastro" placeholder="Telefone" />
            <select name="Faculdade" class="select campoCadastro">
                <option value="">Instituição de ensino</option>
                <option value="1">Fatec Shunji Nishimura</option>
            </select>
    
            <div class="divCheck">
                <input type="checkbox" required />
                <span>Termos e condições</span>
            </div>
            <button class="submit raise buttons">Criar conta</button>
        </form>
    </div>
    <a href="login">
        <h6>Já tenho conta</h6>
    </a>
</div>
