<div class="custom-structure">
    <h1>Crie sua conta conosco</h1>
    <div class="custom-container">
        
        <div class="custom-buttonsForm">
            <div #btnColor class="custom-btnColor"></div>
            <button id="btnSignin" (click)="toSignUp()">Informações</button>
            <button id="btnSignup" (click)="toSignIn()">Finalizar</button>
        </div>

        <form #Cadastrar id="Cadastrar" [formGroup]="formRegister" (ngSubmit)="onRegisterPt1()">
            <div class="custom-input-wrapper">
                <input class="custom-text custom-campoCadastro" type='text' id='nome' required formControlName="name" />
                <label for='nome' class='custom-placeholder'>Nome</label>
            </div>
            <div class="custom-input-wrapper">
                <input class="custom-text custom-campoCadastro" type='email' id='email' required formControlName="email" />
                <label for='email' class='custom-placeholder'>Email</label>
            </div>
            <div class="custom-input-wrapper">
                <input class="custom-password custom-campoCadastro" type='password' id='senha' required formControlName="password" />
                <label for='senha' class='custom-placeholder'>Senha</label>
            </div>
            <div class="custom-input-wrapper">
                <input class="custom-password custom-campoCadastro" type='password' id='confirmarSenha' required formControlName="confirmPassword" />
                <label for='confirmarSenha' class='custom-placeholder'>Confirmar Senha</label>
            </div>

            <div class="custom-divCheck">
                <input type="checkbox" id="lembrarSenha"/>
                <label for="lembrarSenha">Lembrar Senha</label>
            </div>
            <button type="submit" class="custom-submit custom-raise custom-buttons">Continuar</button>
        </form>

        <form #Logar id="Logar">
            <div class="custom-input-wrapper">
                <input class="custom-text custom-campoCadastro" type='text' id='telefone' required>
                <label for='telefone' class='custom-placeholder'>Telefone</label>
            </div>
            <select name="Faculdade" class="custom-select custom-campoCadastro">
                <option value="">Instituição de ensino</option>
                <option value="1">Fatec Pompéia Shunji Nishimura</option>
                <option value="2">Fatec Marília</option>
                <option value="3">Fatec Garça</option>
            </select>

            <div class="custom-divCheck">
                <input type="checkbox" id="termosCondicoes" required />
                <label for="termosCondicoes">Termos e condições</label>
            </div>
            <button class="custom-submit custom-raise custom-buttons">Criar conta</button>
        </form>
    </div>
    <a href="login" class="custom-login">
        <h6>Já tenho conta</h6>
    </a>
</div>
